version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: pizza-db
    restart: always
    environment:
      POSTGRES_USER: pizza_user
      POSTGRES_PASSWORD: pizza_pass
      POSTGRES_DB: pizza_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
